<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15568613291-d5sf4114nbvm0950kkn3dmrudrq65m2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15568613291-d5sf4114nbvm0950kkn3dmrudrq65m2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>15568613291-6lmoaqdkhmp4jif23kg5rlrnf2634568.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkLdAy7QUGOtLaZhUYvCqFYXKBP8zi_Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>15568613291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>des.dwgroup.app</string>
	<key>PROJECT_ID</key>
	<string>punjab-tourism-a554a</string>
	<key>STORAGE_BUCKET</key>
	<string>punjab-tourism-a554a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15568613291:ios:8f9fce2ba7937933a6ecee</string>
</dict>
</plist>