<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDroKp5g7Ms30GrarRHOlohs7uyrHZxPkY</string>
	<key>GCM_SENDER_ID</key>
	<string>334285887545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bhagatsm.dwgroup.app</string>
	<key>PROJECT_ID</key>
	<string>bhagat-singh-museum</string>
	<key>STORAGE_BUCKET</key>
	<string>bhagat-singh-museum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334285887545:ios:0441190b84c3026a7255e8</string>
</dict>
</plist>